@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae semper lectus. Donec ut arcu sit amet massa rutrum molestie. Praesent placerat lacinia iaculis. Aenean vulputate gravida mi et hendrerit. Ut mi libero, pharetra at mattis eget, placerat in odio. In a arcu eu felis auctor tincidunt non tristique felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam at nisl a nisl condimentum semper id gravida dolor. Maecenas venenatis non tellus ut cursus. Sed ut efficitur purus. Praesent nulla tortor, aliquet id quam ut, tempor pretium quam. Curabitur a purus ac justo facilisis blandit eget a tellus. In ornare sapien at lobortis dapibus. Donec lobortis molestie elit, sit amet egestas nunc pretium et. Sed et lobortis justo, sed pellentesque diam. Aenean egestas, arcu vitae pretium gravida, lectus justo varius tellus, efficitur ullamcorper orci nulla vel erat.</p>
